<div class="form-container">
  <mat-card class="spotify-card">
    <div class="spotify-logo">
      <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="Spotify Logo">
    </div>
    <h2>Create a Password</h2>
    <p>You'll need this to log in later.</p>
    <form [formGroup]="passwordForm">
      <input type="password"
             formControlName="password"
             placeholder="Create a password"
             required
             [(ngModel)]="user.password"
             (focus)="onInputFocus()"
             (blur)="onInputBlur()"
             (input)="showErrorMessage = false">

      <!-- Display password requirements on focus -->
      <div class="password-requirements" *ngIf="showRequirements">
        <ul>
          <li [ngClass]="{'valid': checkLength()}">At least 8 characters long</li>
          <li [ngClass]="{'valid': checkUppercase()}">At least one uppercase letter</li>
          <li [ngClass]="{'valid': checkLowercase()}">At least one lowercase letter</li>
          <li [ngClass]="{'valid': checkNumber()}">At least one number</li>
          <li [ngClass]="{'valid': checkSpecialChar()}">At least one special character</li>
        </ul>
      </div>

      <!-- Error message if the password format is incorrect -->
      <div *ngIf="showErrorMessage && passwordForm.invalid" class="error-message">
        Please enter the password in the correct format.
      </div>

      <button type="button" (click)="onNext()">Next</button>
    </form>
  </mat-card>
</div>
