<footer class="spotify-footer">
    <div class="footer-container">
      <div class="footer-links">
        <a href="/about-us" class="abc">About Us</a>
        <a  class="abc"href="https://www.stackroutelearning.com/about_us/#contact" target="_blank">Contact</a>
        <a  class="abc" href="https://www.stackroutelearning.com/about_us/#contact" target="_blank">Help</a>
      </div>
      <div class="footer-description">
        <p>© 2024 Spotify by group 7. All rights reserved. Music for everyone, everywhere.</p>
      </div>
      <div class="footer-social-media">  
        <a class="abc" href="https://www.instagram.com/login" target="_blank"><img src="assets/instagram-logo.png" alt="Instagram"></a>
        <a  class="abc"href="https://www.facebook.com/login" target="_blank"><img src="assets/facebook-logo.png" alt="Facebook"></a>
        <a  class="abc"href="https://www.twitter.com/login" target="_blank"><img src="assets/twitter-logo.png" alt="Twitter"></a>
      </div>
    </div>
  </footer>
  